@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

.header{
  position: fixed;
  z-index: 2;
  display: flex;
  font-family: 'Poppins',sans-serif;
  color: white;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.header a{
  width: 180px;
} 
.header button:hover{
  opacity: 0.8;
 
} 
.header input{
  border: none;
  outline: none;
 
} 


.navbar{
  display: none;
}  



a {
  color: white;
  text-decoration: none;
}

.header p:hover {

  opacity: 0.70;
  transition: 0.25s;

}



a {
  color: white;
  text-decoration: none;
}

.header p:hover {

  opacity: 0.70;
  transition: 0.25s;

}
.header button:hover{
  opacity: 0.5;
}
.header button{
  border-radius: 0px;
  outline: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background: url(GAMBAR/kontenn3.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 770px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  border-radius: 50px ;
  
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Poppins',sans-serif;
  
}
.register a:hover{
  text-decoration: underline;
}
.form-content{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 50px;
 margin-bottom: 20px;
}
.form-content span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.form-content input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
  border-radius: 50px;
}
.space{
  margin-top: 16px;
}
.pass{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Poppins',sans-serif;
}
.keyword:valid ~ .pass{
  display: block;
}
.password-input{
  text-align: left;
  margin: 10px 0;
}
.password-input a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.password-input:hover a{
  text-decoration: underline;
}
.form-content input[type="submit"]{
  background:rgb(170, 131, 23);
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins',sans-serif;
}
.form-content input[type="submit"]:hover{
  opacity: 0.8;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.icon{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
  gap: 10px;
}
.facebook,.Apple{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.Apple{
  background: black;
  border-radius: 50px;
  
}
.Apple:hover{
  background: white;
  color: black;
}
.facebook{
  margin-left: 0;
  background: black;
  border-radius: 50px;
}

.facebook:hover{
  background: white;
  color: black;
}

.icon i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.register{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.register a{
  color: rgb(170, 131, 23);
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}
button{
  border: none;
}

/* ukuran tablet */
@media only screen and (max-width: 1130px){
  .navbar {
      display: block;
      
  } 
  .container-header{
      display: none;
  }  
  .konten-header{
      display: none;
  }
  .container-header input{
      display: none;

  }
  .container-header button{
      display: none;

  }
  

}

/* ukuran mobile L */
@media only screen and (max-width: 426px){
  
  .navbar {
      display: block;
      
  }    
  
}


/* ukuran mobile M */
@media only screen and (max-width: 376px){
  .content2{
      width: auto;
  }
  .container-div{
      margin: auto;
  }
  .footer{
      width: 100%;
  }


}

/* ukuran mobile S */
@media only screen and (max-width: 321px){
  .content2{
      width: auto;
  }

}